# Introducción a objetos
## Primeros objetos

Funciones integradas en Python:

La función que identifica el tipo de objeto es la función `type`

Las variables se escriben como sigue (ejemplo): num=5

Para leer las variables se usa la funcion `print`

In [4]:
num=5
print(num)

5

In [6]:
type(num)

int

In [5]:
saludo="Hola, mundo!"
print(saludo)

Hola, mundo!

In [7]:
type(saludo)

str

In [8]:
# Cuando se pone dos == se usa para comparar o verificar objetos, la respuesta es True or False.
# En este ejemplo verifica si num y saludo son objetos iguales o diferentes, el resultado arroja un valor booleano
type(num)==type(saludo)

False

In [9]:
# La función float convierte un entero en flotante (numero con decimal)
float(num)

5.0

In [11]:
# En este caso convierte el num en un string, sale en comillas porque es un carácter
str(num)

'5'

In [19]:
num_s=str(num)
print(num_s)

5

In [16]:
type(num_s)==type(saludo)

True

In [26]:
# Función de conjunto, rango. Se usa para crear indices, por ejemplo:
# Si no pones valor de inicio, los indices en Python comienzan en 0
range(10)

range(0, 10)

In [27]:
range(1,10)

range(1, 10)

In [31]:
# Para ver todos los elementos del range(10) se usa un bluce for y la funcion print
for i in range(10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10

Listas:
lista_1= [el0, el1, el2, ... , el(n-1)]

Cada el(i) es un objeto

In [33]:
lista_1=[1,"1",1.0,[2,3]]

In [34]:
type(lista_1)

list

In [37]:
lista_2=[x for x in range(11)]
print(lista_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]