# Tarea 2
## Matriz de 10x10 aleatoria

In [113]:
#Importar m√≥dulo pandas
import pandas as pd

In [4]:
import random

In [133]:
lista_1=[]
for i in range (1,11): # se abre un for para que haya un rango de 1 a 10 que se generaran los numeros aleatorios
  x = random.randint(0, 100) #se escoge un numero entero aleatorio de desde 0 a 100
  lista_1.append(x) #append sirve para que los valores se agreguen a la lista 1
  print(lista_1)

[78]
[78, 12]
[78, 12, 50]
[78, 12, 50, 46]
[78, 12, 50, 46, 22]
[78, 12, 50, 46, 22, 31]
[78, 12, 50, 46, 22, 31, 81]
[78, 12, 50, 46, 22, 31, 81, 97]
[78, 12, 50, 46, 22, 31, 81, 97, 99]
[78, 12, 50, 46, 22, 31, 81, 97, 99, 47]

In [86]:
lista_2=[]
for i in range (1,11):
  x = random.randint(0, 100)
  lista_2.append(x)
  print(lista_2)

[10]
[10, 47]
[10, 47, 65]
[10, 47, 65, 59]
[10, 47, 65, 59, 45]
[10, 47, 65, 59, 45, 74]
[10, 47, 65, 59, 45, 74, 23]
[10, 47, 65, 59, 45, 74, 23, 82]
[10, 47, 65, 59, 45, 74, 23, 82, 18]
[10, 47, 65, 59, 45, 74, 23, 82, 18, 78]

In [87]:
lista_3=[]
for i in range (1,11):
  x = random.randint(0, 100)
  lista_3.append(x)
  print(lista_3)

[24]
[24, 3]
[24, 3, 32]
[24, 3, 32, 51]
[24, 3, 32, 51, 48]
[24, 3, 32, 51, 48, 71]
[24, 3, 32, 51, 48, 71, 93]
[24, 3, 32, 51, 48, 71, 93, 66]
[24, 3, 32, 51, 48, 71, 93, 66, 87]
[24, 3, 32, 51, 48, 71, 93, 66, 87, 68]

In [88]:
lista_4=[]
for i in range (1,11):
  x = random.randint(0, 100)
  lista_4.append(x)
  print(lista_4)

[43]
[43, 63]
[43, 63, 13]
[43, 63, 13, 77]
[43, 63, 13, 77, 61]
[43, 63, 13, 77, 61, 23]
[43, 63, 13, 77, 61, 23, 77]
[43, 63, 13, 77, 61, 23, 77, 44]
[43, 63, 13, 77, 61, 23, 77, 44, 71]
[43, 63, 13, 77, 61, 23, 77, 44, 71, 88]

In [89]:
lista_5=[]
for i in range (1,11):
  x = random.randint(0, 100)
  lista_5.append(x)
  print(lista_5)

[14]
[14, 16]
[14, 16, 72]
[14, 16, 72, 18]
[14, 16, 72, 18, 15]
[14, 16, 72, 18, 15, 7]
[14, 16, 72, 18, 15, 7, 59]
[14, 16, 72, 18, 15, 7, 59, 26]
[14, 16, 72, 18, 15, 7, 59, 26, 98]
[14, 16, 72, 18, 15, 7, 59, 26, 98, 63]

In [90]:
lista_6=[]
for i in range (1,11):
  x = random.randint(0, 100)
  lista_6.append(x)
  print(lista_6)

[27]
[27, 17]
[27, 17, 21]
[27, 17, 21, 56]
[27, 17, 21, 56, 44]
[27, 17, 21, 56, 44, 86]
[27, 17, 21, 56, 44, 86, 73]
[27, 17, 21, 56, 44, 86, 73, 14]
[27, 17, 21, 56, 44, 86, 73, 14, 99]
[27, 17, 21, 56, 44, 86, 73, 14, 99, 23]

In [91]:
lista_7=[]
for i in range (1,11):
  x = random.randint(0, 100)
  lista_7.append(x)
  print(lista_7)

[9]
[9, 61]
[9, 61, 94]
[9, 61, 94, 12]
[9, 61, 94, 12, 7]
[9, 61, 94, 12, 7, 54]
[9, 61, 94, 12, 7, 54, 60]
[9, 61, 94, 12, 7, 54, 60, 68]
[9, 61, 94, 12, 7, 54, 60, 68, 10]
[9, 61, 94, 12, 7, 54, 60, 68, 10, 44]

In [92]:
lista_8=[]
for i in range (1,11):
  x = random.randint(0, 100)
  lista_8.append(x)
  print(lista_8)

[38]
[38, 61]
[38, 61, 75]
[38, 61, 75, 6]
[38, 61, 75, 6, 4]
[38, 61, 75, 6, 4, 95]
[38, 61, 75, 6, 4, 95, 49]
[38, 61, 75, 6, 4, 95, 49, 87]
[38, 61, 75, 6, 4, 95, 49, 87, 24]
[38, 61, 75, 6, 4, 95, 49, 87, 24, 99]

In [93]:
lista_9=[]
for i in range (1,11):
  x = random.randint(0, 100)
  lista_9.append(x)
  print(lista_9)

[91]
[91, 100]
[91, 100, 37]
[91, 100, 37, 54]
[91, 100, 37, 54, 83]
[91, 100, 37, 54, 83, 94]
[91, 100, 37, 54, 83, 94, 91]
[91, 100, 37, 54, 83, 94, 91, 17]
[91, 100, 37, 54, 83, 94, 91, 17, 67]
[91, 100, 37, 54, 83, 94, 91, 17, 67, 98]

In [94]:
lista_10=[]
for i in range (1,11):
  x = random.randint(0, 100)
  lista_10.append(x)
  print(lista_10)

[17]
[17, 55]
[17, 55, 95]
[17, 55, 95, 50]
[17, 55, 95, 50, 53]
[17, 55, 95, 50, 53, 97]
[17, 55, 95, 50, 53, 97, 80]
[17, 55, 95, 50, 53, 97, 80, 59]
[17, 55, 95, 50, 53, 97, 80, 59, 75]
[17, 55, 95, 50, 53, 97, 80, 59, 75, 34]

In [127]:
listas={"A":lista_1,
        "B":lista_2,
        "C":lista_3,
        "D":lista_4,
        "E":lista_5,
        "F":lista_6,
        "G":lista_7,
        "H":lista_8,
        "I":lista_9,
        "J":lista_10}
print(listas)

{'A': [70, 78, 91, 21, 87, 98, 62, 72, 97, 56], 'B': [10, 47, 65, 59, 45, 74, 23, 82, 18, 78], 'C': [24, 3, 32, 51, 48, 71, 93, 66, 87, 68], 'D': [43, 63, 13, 77, 61, 23, 77, 44, 71, 88], 'E': [14, 16, 72, 18, 15, 7, 59, 26, 98, 63], 'F': [27, 17, 21, 56, 44, 86, 73, 14, 99, 23], 'G': [9, 61, 94, 12, 7, 54, 60, 68, 10, 44], 'H': [38, 61, 75, 6, 4, 95, 49, 87, 24, 99], 'I': [91, 100, 37, 54, 83, 94, 91, 17, 67, 98], 'J': [17, 55, 95, 50, 53, 97, 80, 59, 75, 34]}

In [129]:
listas

{'A': [70, 78, 91, 21, 87, 98, 62, 72, 97, 56],
 'B': [10, 47, 65, 59, 45, 74, 23, 82, 18, 78],
 'C': [24, 3, 32, 51, 48, 71, 93, 66, 87, 68],
 'D': [43, 63, 13, 77, 61, 23, 77, 44, 71, 88],
 'E': [14, 16, 72, 18, 15, 7, 59, 26, 98, 63],
 'F': [27, 17, 21, 56, 44, 86, 73, 14, 99, 23],
 'G': [9, 61, 94, 12, 7, 54, 60, 68, 10, 44],
 'H': [38, 61, 75, 6, 4, 95, 49, 87, 24, 99],
 'I': [91, 100, 37, 54, 83, 94, 91, 17, 67, 98],
 'J': [17, 55, 95, 50, 53, 97, 80, 59, 75, 34]}

In [134]:
matriz=pd.DataFrame(listas)
matriz

    A   B   C   D   E   F   G   H    I   J
0  70  10  24  43  14  27   9  38   91  17
1  78  47   3  63  16  17  61  61  100  55
2  91  65  32  13  72  21  94  75   37  95
3  21  59  51  77  18  56  12   6   54  50
4  87  45  48  61  15  44   7   4   83  53
5  98  74  71  23   7  86  54  95   94  97
6  62  23  93  77  59  73  60  49   91  80
7  72  82  66  44  26  14  68  87   17  59
8  97  18  87  71  98  99  10  24   67  75
9  56  78  68  88  63  23  44  99   98  34